## .NET build artifacts
bin/
obj/
*.user
*.suo
.vs/
*.DotSettings.user

## NuGet packages
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## Test results
TestResults/
*.trx
*.coverage
*.coveragexml

## Rider / JetBrains
.idea/
*.sln.iml

## Visual Studio Code
.vscode/

## macOS
.DS_Store

## MSBuild
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

## Visual Studio
*.rsuser
*.userosscache
*.sln.docstates
.builds
*.pidb
*.svclog
*.scc
